### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#put the player count on a variable and convert the result to a DF for a display
count = purchase_data['SN'].nunique()
player_count = pd.DataFrame([{"Total Players":count}])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_count = purchase_data["Item Name"].nunique() #calculate the total number of unique items
avg_price = purchase_data["Price"].mean() #calculate average price
purchase_count = purchase_data["Purchase ID"].count() #calculate 
total_revenue = purchase_data["Price"].sum() #calulate the total revenue

purchase_analysis = pd.DataFrame([{
    "Number of Unique Items":item_count,"Average Price":avg_price,"Number of Purchases":purchase_count,
    "Total Revenue":total_revenue}])

purchase_analysis = purchase_analysis.style.format({'Average Price': "${:.2f}", 'Total Revenue': "${:.2f}"})
purchase_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#filter the dataframe by gender = male, female and other/non-disclosed
male_df = purchase_data.loc[purchase_data['Gender']== "Male",:]
female_df = purchase_data.loc[purchase_data['Gender']== "Female",:]
nondisclosed_df = purchase_data.loc[purchase_data['Gender']== "Other / Non-Disclosed",:]

#capture the unique counts of SN to determine total number of male, female, other/non-disclosed gender types & sum values to get total
male_count = male_df['SN'].nunique()
female_count = female_df['SN'].nunique()
nondisclosed_count = nondisclosed_df['SN'].nunique()
total_gender_count = int(male_count) + int(female_count) + int(nondisclosed_count)
male_percentage = (int(male_count)/total_gender_count)*100
female_percentage = (int(female_count)/total_gender_count)*100
nondisclosed_percentage = (int(nondisclosed_count)/total_gender_count)*100

#convert the above result to dictionary for formatting and display
gender_demography = pd.DataFrame({
    "": ['Male','Female','Other / Non-Disclosed'],
    "Total Count": [male_count,female_count,nondisclosed_count],
    "Percentage of Players":[male_percentage,female_percentage,nondisclosed_percentage]
    })
gender_demography = gender_demography.style.format({'Percentage of Players': "%{:.2f}"})
gender_demography


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
#calculations for Sum, purchase count and Avg price per person by gender and avg total purchanse price by gender
purchase_gender = purchase_data.groupby(['Gender'])
total_purchase = purchase_gender["Price"].sum()
purchase_count = purchase_gender["Purchase ID"].count()
avg_purchase = purchase_gender["Price"].mean()
#calculate the average purchase total => divide the total purchase by gender to the gender count
female_avg_purch = total_purchase["Female"]/female_count
male_avg_purch = total_purchase["Male"]/male_count
nondisclosed_avg_purch = total_purchase["Other / Non-Disclosed"]/nondisclosed_count
#convert the result for each gender avg purchase value (which are arrays) to dictionaries, so we can display later on
avg_gender = {"Female": female_avg_purch, "Male":male_avg_purch, "Non_disc":nondisclosed_avg_purch}


#convert the above computed values to a dictionary for formatting and display
purchase_analysis = pd.DataFrame({
    "": ['Female','Male','Other / Non-Disclosed'],
    "Purchase Count": [purchase_count["Female"],purchase_count["Male"],purchase_count["Other / Non-Disclosed"]],
    "Average Purchase Price": [avg_purchase["Female"],avg_purchase["Male"], avg_purchase["Other / Non-Disclosed"]],
    "Total Purchase Value": [total_purchase["Female"],total_purchase["Male"], total_purchase["Other / Non-Disclosed"]],
    "Avg Total Purchase per Person": [avg_gender["Female"],avg_gender["Male"], avg_gender["Non_disc"]]
    })
#format the columns and round the figures to 2 decimal places
purchase_analysis = purchase_analysis.style.format({'Average Purchase Price': "${:.2f}", 
                                                    'Total Purchase Value': "${:.2f}",
                                                    'Avg Total Purchase per Person':"${:.2f}"
                                                   })
purchase_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [161]:

def calculate_percent(row):
    return (row['Total Count']/count)*100

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
age_groups = ["< 10", "10-14", "15-19", "20-24", "25-29","30-34","35-39", "40+"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=age_groups)

grpby_age = pd.DataFrame({'Total Count' : purchase_data.groupby( ["Age Groups"] ).size()}).reset_index()
grpby_age['Percentage of Players'] = grpby_age.apply(calculate_percent, axis=1)
grpby_age= grpby_age.style.format({'Percentage of Players': "%{:.2f}"
                                                   })
grpby_age

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
age_groups = ["< 10", "10-14", "15-19", "20-24", "25-29","30-34","35-39", "40+"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=age_groups)

grped_data = purchase_data.groupby( ["Age Groups"])
grped_data.count().head(10)
sum_df = grped_data["Price"].sum()
mean_df = grped_data["Price"].mean()
count_df = grped_data["Age Groups"].size()
avg_pp = sum_df/count_df

purchase_analysis = pd.DataFrame({'Purchase Count' : count_df,
                                  'Average Purchase Price': mean_df,
                                  'Total Purchase Value': sum_df,
                                  'Avg Total Purchase per Person': avg_pp
                                   }).reset_index()


purchase_analysis= purchase_analysis.style.format({'Average Purchase Price': "${:.2f}",
                                                   'Total Purchase Value': "${:.2f}",
                                                   'Avg Total Purchase per Person': "${:.2f}"
                                                   })
purchase_analysis

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80